.Footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: var(--major);
	color: var(--inverse);

	@include mediaUp(md) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.Footer a {
	@include linkReset;
	color: var(--inverse);
}

.Footer a:hover {
	color: var(--brand);
}


.Footer__menu {
	@include listReset;
	font-size: 1.25rem;
}

.Footer__menu li + li {
	margin-top: 2rem;
}

.Footer__menu a {
	font-weight: 500;
}
.SocialNav {
	@include listReset;
	margin-top: 2rem;
	display: flex;
}

.SocialNav li + li {
	margin-left: 14px;
}

.SocialNav a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	border: 2px solid var(--yellow);
}

.SocialNav a:hover {
	background-color: var(--yellow);
}

.SocialNav a .Icon {
	width: 1.5rem;
	height: 1.5rem;
}
