.Header {
	height: var(--headerHeight);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: var(--shadow-sm);
	z-index: 50;
	background-color: var(--minor);
	cursor: default;

	[data-theme="dark"] & {
		background-color: var(--bgAlter);
	}
}

.Header__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--intense);
	z-index: 75;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity var(--duration-lg),
		visibility 0s linear var(--duration-lg);
	pointer-events: none;
	will-change: opacity;
}

.Header__overlay.is-shown {
	visibility: visible;
	opacity: .2;
	transition: opacity var(--duration-lg);
}

[data-theme="dark"] .Header__overlay.is-shown {
	opacity: .1;
}

.Header__container {
	@include container;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.Logo {
	@include linkReset;
	display: block;
	width: 58px;
	flex-shrink: 0;

	@include mediaUp(md) {
		width: 88px;
	}
}

.Logo img,
.Logo svg {
	display: block;
	width: 100%;
}

.Logo svg {
	fill: var(--intense);
	width: 100%;
	max-width: 100%;
	height: auto;
	cursor: pointer;
	transition: fill var(--duration-sm);
}

.Logo:hover svg {
	fill: var(--brand);
}
