.Icon {
	height: 1.5rem;
	width: 1.5rem;
	display: inline-block;
	flex-shrink: 0;
	fill: currentColor;
	transition:
		fill $duration-sm,
		transform $duration-sm,
		stroke $duration-sm;
}

.IconLink {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
