body {
	background-color: var(--bg);
}

.Wrap {
	padding-top: var(--headerHeight);
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}

// .Main {
// 	word-break: break-word;
// 	overflow: auto;
// 	flex: 1 1 auto;
// 	margin-left: var(--sidepanelWidth);
// 	background-image: url('../media/hero.jpg');
// }
