.NotificationsOrigin {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	visibility: hidden;
	overflow: hidden;
	z-index: $z-notification;
}

.Notification {
	padding: 1.5rem;
	min-width: 280px;
	visibility: visible;
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	opacity: 0;
	transform: translateX(calc(100% + 1.5rem));
	transition:
		opacity var(--duration-sm),
		transform var(--duration-sm);
	background-color: var(--bg);
	border-radius: var(--radius-md);
	box-shadow: 0 2px .75rem rgba(0,0,0,.2);
}


.Notification.is-shown {
	transform: translateX(0);
	opacity: 1;
}

.Notification__closer  {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	color: var(--minor);
}

.Notification__closer .Icon  {
	width: 1rem;
	height: 1rem;
}

.Notification__body > * {
	@include flowMargin;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
