.Section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.Section.-bgImage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	color: $white;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	// background-image:
	// 	linear-gradient(to right, rgba($black, .48), rgba($black, .48)),
	// 	url('/images/section-bg.jpg');
}
