@use "sass:math";
@use "sass:color";
@use "../base/variables" as *;
@use "../base/mixins" as *;

@use '../../../node_modules/swiper/swiper';

.Slider {
	--arrow-position: max(0px, calc(var(--padding-x) * .5 - 1.5rem));
	position: relative;
	user-select: none;
	width: 100%;

	@media (min-width: $sm) {
	}
}

.Slider.-hideOnStart {
	visibility: hidden;
}

.Slider > .swiper-container {
	position:relative;
	align-items: stretch;
}

.Slider .swiper-wrapper {

}

.Slider .swiper-slide {
	height: auto;
	min-width: 0;
}

.Slider.-initialized {
	visibility: visible;

	.Slider__pagination,
	.Slider__prev,
	.Slider__next {
		display: flex;
	}
}

.Slider__pagination {
	@include listReset;
	display: none;
	justify-content: center;
	gap: .5rem;
	position: relative;
	z-index: 2;
	padding-bottom: 4px;

	@media (min-width: $md) {
		gap: .75rem;
	}
}

.Slider__pagination .swiper-pagination-bullet {
	width: 1.5rem;
	height: .1875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: --alpha(var(--major) / 15%);
	text-align: center;
	border-radius: 2rem;
	transition:
		color var(--duration-sm),
		background-color var(--duration-sm);
	position: relative;

	&:after {
		@include pseudoBlock(100%, auto);
		inset: -4px 0;
	}

	@media (min-width: $md) {
		width: 2rem;
		height: .1875rem;
	}
}

.Slider__pagination .swiper-pagination-bullet:hover {
	background-color: var(--muted);
	color: var(--intense);
}

.Slider__pagination .swiper-pagination-bullet-active.swiper-pagination-bullet-active {
	background-color: var(--intense);
	color: var(--inverse);
}

.Slider__prev,
.Slider__next {
	--arrow-w: clamp(1.5rem, 4vw, 3rem);
	width: var(--arrow-w);
	height: 4rem;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 3rem);
	z-index: 10;
	display: none;
	align-items: center;
	justify-content: center;
	color: var(--major);
	transition: color var(--duration-theme);

	svg {
		display: block;
		width: 1rem;
		height: 2rem;
	}

	&.swiper-button-disabled {
		color: var(--major) !important;
		// opacity: .2;
		visibility: hidden;
		cursor: default;
	}
}

.Slider__prev {
	left: var(--arrow-position);
}

.Slider__next {
	right: var(--arrow-position);
}

.Slider__prev svg {
	transform: rotate(180deg);
}

@media (hover:hover) {
	.Slider__prev:hover,
	.Slider__next:hover {
		color: var(--brand);
	}
}

.Step {
	padding: clamp(.75rem, 2vw, 1rem);
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	text-wrap: balance;
}
