.ThemeSwitch {
	width: 40px;
	height: 20px;
	display: block;
	position: relative;
	border-radius: 40px;
	cursor: pointer;
}

.ThemeSwitch input[type="checkbox"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}

.ThemeSwitch span {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	opacity: 1;
	background-color: var(--muted);
	border-radius: 40px;
	transition:
		var(--duration-md) ease background-color,
		var(--duration-md) ease opacity;
}

.ThemeSwitch span:after {
	@include pseudoBlock(16px);
	top: 2px;
	left: 0;
	border-radius: 50%;
	transition:
		var(--duration-lg) ease transform,
		var(--duration-md) ease background-color;
	background-color: var(--lighter);
	transform: translateX(2px);
	z-index: 0;
}

.ThemeSwitch input[type="checkbox"]:checked + span {
	background-color: var(--muted);
}

.ThemeSwitch input[type="checkbox"]:checked + span:after {
	background-color: var(--lightest);
	transform: translateX(22px);
}
