.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gap / 2;
	margin-left: -$gap / 2;
}

.col-eq,
.col-auto {
	@include makeColumnReady;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumnReady;
	}
}

.col-eq {
	@include makeColumnEq;
}

.col-auto {
	@include makeColumnAuto;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumn($i);
	}
}

@include mediaUp(sm) {
	.col-sm-eq {
		@include makeColumnEq;
	}
	.col-sm-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-sm-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(md) {
	.col-md-eq {
		@include makeColumnEq;
	}
	.col-md-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-md-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(lg) {
	.col-lg-eq {
		@include makeColumnEq;
	}
	.col-lg-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-lg-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(xl) {
	.col-xl-eq {
		@include makeColumnEq;
	}
	.col-xl-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-xl-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

.row.no-gap {
	margin-left: 0;
	margin-right: 0;
	min-width: 100%;

	> * {
		padding-right: 0;
		padding-left: 0;
	}
}

.row.gap-xxs {
	--gap: $gap--xxs;

	/* min-width: calc(100% + #{$gap--xxs}); */
	margin-left: - $gap--xxs / 2;
	margin-right: - $gap--xxs / 2;

	>* {
		padding-right: $gap--xxs / 2;
		padding-left: $gap--xxs / 2;
	}
}

.row.gap-xs {
	--gap: $gap--xs;

	/* min-width: calc(100% + #{$gap--xs}); */
	margin-left: - $gap--xs / 2;
	margin-right: - $gap--xs / 2;

	>* {
		padding-right: $gap--xs / 2;
		padding-left: $gap--xs / 2;
	}
}

.row.gap-sm {
	--gap: $gap--sm;

	/* min-width: calc(100% + #{$gap--xs}); */
	margin-left: - $gap--sm / 2;
	margin-right: - $gap--sm / 2;

	>* {
		padding-right: $gap--sm / 2;
		padding-left: $gap--sm / 2;
	}
}

.grid > .row {
	margin-top: -$gap / 2;
	margin-bottom: -$gap / 2;
}

.grid > .row > * {
	padding-top: $gap / 2;
	padding-bottom: $gap / 2;
}

.grid > .row.gap-sm {
	margin-top: -$gap--sm / 2;
	margin-bottom: -$gap--sm / 2;
}

.grid > .row.gap-sm > * {
	padding-top: $gap--sm / 2;
	padding-bottom: $gap--sm / 2;
}

.grid > .row.gap-xs {
	margin-top: -$gap--xs / 2;
	margin-bottom: -$gap--xs / 2;
}

.grid > .row.gap-xs > * {
	padding-top: $gap--xs / 2;
	padding-bottom: $gap--xs / 2;
}

.grid > .row.gap-xxs {
	margin-top: -$gap--xxs / 2;
	margin-bottom: -$gap--xxs / 2;
}

.grid > .row.gap-xxs > * {
	padding-top: $gap--xxs / 2;
	padding-bottom: $gap--xxs / 2;
}

// Custom
@include mediaUp(lg) {
	.col--main {
		max-width: calc(100% - 330px);
	}

	.row.gap-sm > .col--main {
		max-width: calc(100% - 320px);
	}
}

@include mediaUp(xl) {
	.col--main {
		// max-width: 860px;
		max-width: 810px;
	}
}

.col--right {
	flex: 0 0 auto !important;
    width: auto !important;
	max-width: calc(300px + 30px);
}

.row.gap-sm > .col--main {
	max-width: calc(300px + 20px);
}