<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
	{{> partials/theme-switch}}
	<link rel="stylesheet" href="/styles/min/common.css">
</head>
<body class="G-notLogged G-frontpage" style="--scrollY:0px;">

	{{> partials/header}}

	<main class="Main">
		{{> @partial-block }}
	</main>

	{{> partials/footer}}

	<script src="/scripts/min/common.js"></script>
</body>
</html>
