<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	{{> partials/theme-switch}}

	<link href="//fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/agate.min.css">

	<style>
		pre {
			padding: 0;
			background-color: transparent;
		}

		pre code {
			background-color: transparent;
			padding: 20px !important;
			border-radius: 3px;
		}
	</style>

	<link rel="stylesheet" href="/styles/styles.min.css">
</head>
<body class="G-notLogged G-frontpage" style="--scrollY:0px;">

	<div class="NotificationsOrigin">
		<div class="Notification"></div>
	</div>

	<div class="Wrap Origin">

		<header class="Sidepanel">
			<div class="Sidepanel__top">

				<h1 class="color-white">Webza</h1>

				<hr>

				<nav class="SideNav">
					<ul>
						<li><a href="#build">Build</a>
							<ul>
								<li><a href="#build-add">Add files</a></li>
							</ul>
						</li>
						<!-- <li><a href="#">Variables</a></li> -->
						<!-- <li><a href="#">Typo</a></li> -->
						<li><a href="#component">Components</a>
							<ul>
								<li><a href="#components-button">Button</a></li>
								<!-- <li><a href="#components-form">Form</a></li> -->
								<li><a href="#components-slider">Slider</a></li>
								<!-- <li><a href="#components-popup">Popup</a></li> -->
								<li><a href="#components-layout">Layout</a></li>
							</ul>
						</li>
						<li><a href="#utilities">Utilities</a>
							<ul>
								<li><a href="#utilities-text">Text</a></li>
								<li><a href="#utilities-grid">Grid</a></li>
								<li><a href="#utilities-display">display</a></li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>
			<div class="Sidepanel__bottom">

				<a href="mailto:dev@webowski.ru">dev@webowski.ru</a>

			</div>
		</header>

		<main class="Main">
			{{> @partial-block }}
		</main>

		<div class="Footer">
			<div class="container">


			</div>
		</div>

	</div>

	<script defer="defer" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelectorAll('pre code').forEach((block) => {
				hljs.highlightBlock(block);
			});
		});
	</script>

	<script src="/scripts/bundle.min.js"></script>
</body>
</html>
