<header class="Sidepanel">
	<div class="Sidepanel__top">

		<h1 class="color-white">Webza</h1>

		<hr>

		<nav class="SideNav">
			<ul>
				<li><a href="#build">Build</a>
					<ul>
						<li><a href="#build-add">Add files</a></li>
					</ul>
				</li>
				<!-- <li><a href="#">Variables</a></li> -->
				<!-- <li><a href="#">Typo</a></li> -->
				<li><a href="#component">Components</a>
					<ul>
						<li><a href="#components-button">Button</a></li>
						<!-- <li><a href="#components-form">Form</a></li> -->
						<li><a href="#components-slider">Slider</a></li>
						<!-- <li><a href="#components-popup">Popup</a></li> -->
						<li><a href="#components-layout">Layout</a></li>
					</ul>
				</li>
				<li><a href="#utilities">Utilities</a>
					<ul>
						<li><a href="#utilities-text">Text</a></li>
						<li><a href="#utilities-grid">Grid</a></li>
						<li><a href="#utilities-display">display</a></li>
					</ul>
				</li>
			</ul>
		</nav>

	</div>
	<div class="Sidepanel__bottom">

		<a href="mailto:dev@webowski.ru">dev@webowski.ru</a>

	</div>
</header>
