include mixins.pug
- var data = require('./data.json')
block variables

<!doctype html>
<html lang="#{data.lang}" data-theme="light">
<head>
	<meta charset="utf-8">
	<title>
		if title
			| #{title} &laquo; #{data.projectName}
		else
			| #{data.projectName}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//- <meta name="theme-color" content="#17171d">
	include ../partials/head-scripts.pug
	block head-scripts
</head>
<body class="G-notLogged" style="--scrollY:0px;">

	<div class="Wrap">
		include ../partials/header.pug

		<main class="Main">
			block main
		</main>

		include ../partials/footer.pug
	</div>

	<div class="NotificationsOrigin">
		block notifications
	</div>

	include ../partials/footer-scripts.pug
	block footer-scripts
</body>
</html>
