include mixins.pug
- var data = require('./data.json')
block variables

<!doctype html>
<html lang="#{data.lang}">
<head>
	<meta charset="utf-8">
	<title>
		if title
			| #{title} &laquo; Webza
		else
			| Webza
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//- <meta name="theme-color" content="#17171d">
	//- <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
	include ../partials/head-scripts.pug
</head>
<body class="G-notLogged" style="--scrollY:0px;">

	<div class="Wrap">
		include ../partials/header.pug

		<main class="Main">
			block main
		</main>

		include ../partials/footer.pug
	</div>

	<div class="NotificationsOrigin">
		block notifications
	</div>

	include ../partials/footer-scripts.pug
</body>
</html>
