{{#> layout title="About" currentUrl="/about.html"}}

	<h1>{{title}}</h1>

	{{!-- {{picture src="../media/picture@2x.png" class="Illustration appear-fadeDown" alt="Some picture alt"}} --}}

	{{> components/accordion}}

	{{> components/dropdown}}

	{{> components/grid}}

{{/layout}}
