extends base/layout.pug

block variables
	- var title = 'Компоненты'
	- var currentUrl = '/'

block main
	<div class="Section">
		<div class="container">

			<h1>#{title}</h1>

			+picture(src='media/hero@2x.jpg' alt="Alt text").Picture

		</div>
	</div>
