extends base/layout.pug

block variables
	- var title = 'Компоненты'
	- var currentUrl = '/'

block main
	<div class="Section">
		<div class="container">

			<h1>#{title}</h1>

			//- {{picture src="../media/picture@2x.png" class="Illustration appear-fadeDown" alt="Some picture alt"}}

			//- +slider

			//- +accordion

		</div>
	</div>

