{{#> layout title="Components" currentUrl="/components.html"}}
	<div class="container">

		<h1>{{title}}</h1>

		{{!-- {{picture src="../media/picture@2x.png" class="Illustration appear-fadeDown" alt="Some picture alt"}} --}}

		{{> components/slider}}

		{{!-- {{> components/accordion}}

		{{> components/dropdown}}

		{{> components/grid}} --}}

	</div>
{{/layout}}
