extends base/layout.pug

block variables
	- var title = 'Docs'
	- var currentUrl = '/docs.html'

block main
	link(rel='stylesheet' href=require('~/../node_modules/prismjs/themes/prism.css'))

	<div class="Section">
		<div class="container">

			<h1>#{title}</h1>

			include partials/docs/button

			<hr>

			<h3>Picture</h3>
			+picture(src="media/hero@2x.jpg" alt="Alt text").Picture

			<h3>Notifications</h3>
			+notifications
				p notification

			<h3>Icon</h3>
			+icon("search")

			<h3>Tabs</h3>
			+tabs

		</div>
	</div>
