extends base/layout.pug

block variables
	- var title = 'Docs'
	- var currentUrl = '/docs.html'

block main
	link(rel='stylesheet' href=require('~/../node_modules/prismjs/themes/prism.css'))

	<div class="Section">
		<div class="container">

			<h1>#{title}</h1>

			include partials/docs/button
			include partials/docs/tabs
			include partials/docs/picture
			include partials/docs/notification
			include partials/docs/icon

		</div>
	</div>
