<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{> partials/meta}}
	{{> partials/head-includes}}
</head>
<body>
	<div class="Wrap">
		{{> partials/header}}

		<main id="main-content">

			<div class="Section">
				<div class="container">

					<h1>{{title}}</h1>

					{{!-- include partials/docs/color
					include partials/docs/button
					include partials/docs/icon
					include partials/docs/picture
					include partials/docs/popup
					include partials/docs/collapsible
					include partials/docs/tabs
					include partials/docs/notification --}}

				</div>
			</div>

		</main>

		{{> partials/footer}}
	</div>

	{{> partials/footer-includes}}
</body>
</html>
