extends base/layout.pug

block variables
	- var title = 'Text'
	- var currentUrl = '/text.html'

block main
	<div class="Section">
		<div class="container">

			<h1>Heading h1</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure blanditiis, animi doloremque corrupti modi voluptates, fuga voluptatem non tempora sed saepe voluptate. Quo harum doloribus dignissimos culpa error! Placeat, labore.</p>

			<h2>Heading h2</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure blanditiis, animi doloremque corrupti modi voluptates, fuga voluptatem non tempora sed saepe voluptate. Quo harum doloribus dignissimos culpa error! Placeat, labore.</p>

			<ul>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, provident?</li>
				<li>Maiores, vero iste. Nisi cum nam odio expedita excepturi accusantium.</li>
				<li>Fuga itaque tenetur quod ipsam suscipit doloremque doloribus beatae nobis.</li>
				<li>Eos omnis nisi nihil, maxime cupiditate architecto unde? Ab, earum.</li>
			</ul>

			<h3>Heading h3</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure blanditiis, animi doloremque corrupti modi voluptates, fuga voluptatem non tempora sed saepe voluptate. Quo harum doloribus dignissimos culpa error! Placeat, labore.</p>

			<ol>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, provident?</li>
				<li>Maiores, vero iste. Nisi cum nam odio expedita excepturi accusantium.</li>
				<li>Fuga itaque tenetur quod ipsam suscipit doloremque doloribus beatae nobis.</li>
				<li>Eos omnis nisi nihil, maxime cupiditate architecto unde? Ab, earum.</li>
			</ol>

			<h4>Heading h4</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure blanditiis, animi doloremque corrupti modi voluptates, fuga voluptatem non tempora sed saepe voluptate. Quo harum doloribus dignissimos culpa error! Placeat, labore.</p>

			<h5>Heading h5</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure blanditiis, animi doloremque corrupti modi voluptates, fuga voluptatem non tempora sed saepe voluptate. Quo harum doloribus dignissimos culpa error! Placeat, labore.</p>

			<h6>Heading 6</h6>

		</div>
	</div>
