<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	{{> partials/theme-switch}}
	<link rel="stylesheet" href="/styles/styles.min.css">
</head>
<body class="G-notLogged G-frontpage" style="--scrollY:0px;">

	{{> partials/header}}

	<main class="Main">
		{{> @partial-block }}
	</main>

	{{> partials/footer}}

	{{> components/notifications}}

	<script src="/scripts/bundle.min.js"></script>
</body>
</html>
