<header class="Header">
	<div class="container">

		<a href="" class="Logo" aria-label="logo">
			<img src="logo.svg" alt="">
		</a>

		<nav class="NavMain Header__nav">
			<ul>
				{{!-- each item in data.nav
					<li class="NavMain__item#{item.url === currentUrl ? ' is-current' : ''}">
						<a href="#{item.url}">#{item.title}</a>
					</li> --}}
			</ul>
		</nav>

		<button class="Button">Кнопка</button>

	</div>
</header>
