<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="images/favicon-48x48.png">
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="icon" href="#{require('~/images/favicon.svg')}" sizes="any" type="image/svg+xml">

//- include theme-switch.pug

link(rel='stylesheet' href=require('~/styles/index.scss'))
