.flexStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}


/* Rectangle size */

.rect-050 {
	width: 0.50rem !important;
	height: 0.50rem !important;
}

.rect-0625 {
	width: 0.625rem !important;
	height: 0.625rem !important;
}

.rect-075 {
	width: 0.75rem !important;
	height: 0.75rem !important;
}

.rect-0875 {
	width: 0.875rem !important;
	height: 0.875rem !important;
}

.rect-100 {
	width: 1.00rem !important;
	height: 1.00rem !important;
}

.rect-1125 {
	width: 1.125rem !important;
	height: 1.125rem !important;
}

.rect-125 {
	width: 1.25rem !important;
	height: 1.25rem !important;
}

.rect-150 {
	width: 1.50rem !important;
	height: 1.50rem !important;
}

.rect-200 {
	width: 2.00rem !important;
	height: 2.00rem !important;
}

.rect-225 {
	width: 2.25rem !important;
	height: 2.25rem !important;
}

.rect-250 {
	width: 2.50rem !important;
	height: 2.50rem !important;
}

.rect-275 {
	width: 2.75rem !important;
	height: 2.75rem !important;
}

.rect-400 {
	width: 4.00rem !important;
	height: 4.00rem !important;
}

.rect-100-200 {
	width: 1rem !important;
	height: 2rem !important;
}


/* Transform */

.rotate-90 {
	transform: rotate(90deg) !important;
}

.rotate-180 {
	transform: rotate(180deg) !important;
}

.rotate-270 {
	transform: rotate(270deg) !important;
}

.visuallyHidden {
	@include visuallyHidden;
}

.fit {
	width: 100%;
}

.fit-height {
	height: 100% !important;
}

.cursor-default {
	cursor: default !important;
}

.stickyOrigin {
	position: relative;
}

.stickyBlock {
	position: sticky;
	top: calc(50vh + var(--headerHeight) / 2 - 478px / 2);
}

.shiftUp-1,
.shiftUp-2,
.shiftDown-1 {
	position: relative;
}

.shiftDown-1 {
	top: 1px !important;
}

.shiftUp-1 {
	top: -1px !important;
}

.shiftUp-2 {
	top: -2px !important;
}

.grow-1 { flex-grow: 1 !important; }
.grow-0 { flex-grow: 0 !important; }
.shrink-1 { flex-shrink: 1 !important; }
.shrink-0 { flex-shrink: 0 !important; }

.overlapL-100 {
	position: relative;
	margin-left: -1rem !important;
}

.breakFlex {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

.absolute { position: absolute !important }

.t-075 { top: 0.75rem !important }
.t-100 { top: 1.00rem !important }

.r-075 { right: 0.75rem !important }
.r-100 { right: 1.00rem !important }

.b-075 { bottom: 0.75rem !important }
.b-100 { bottom: 1.00rem !important }

.l-075 { left: 0.75rem !important }
.l-100 { left: 1.00rem !important }


.hideEmpty:empty {
	display: none !important;
}
