<div class="Accordion">
  <div class="AccordionItem is-open">
    <div class="AccordionItem__header">

		</div>
    <div class="AccordionItem__body">

		</div>
  </div>
  <div class="AccordionItem">
    <div class="AccordionItem__header">

		</div>
    <div class="AccordionItem__body">

		</div>
  </div>
  <div class="AccordionItem">
    <div class="AccordionItem__header">

		</div>
    <div class="AccordionItem__body">

		</div>
  </div>
</div>
