<div class="NotificationsOrigin">

	<article class="Notification">
		{{!-- <button class="Btn -nude do-close">
			{{icon "close" class="Icon"}}
		</button> --}}
		<h4>Notification</h4>
	</article>

</div>
