<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	{{> ../partials/head-scripts}}
</head>
<body class="G-notLogged G-frontpage" style="--scrollY:0px;">

	{{> ../partials/header}}

	<main class="Main">
		{{> @partial-block }}
	</main>

	{{> ../partials/footer}}

	{{> ../components/notifications}}

	{{> ../partials/footer-scripts}}
</body>
</html>
