<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{!-- <meta name="theme-color" content="#17171d"> --}}
	{{!-- <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml"> --}}
	{{> head-scripts}}
</head>
<body class="G-notLogged" style="--scrollY:0px;">

	{{> header}}

	<main class="Main">
		{{> @partial-block }}
	</main>

	{{> footer}}

	{{!-- {{> notifications}} --}}

	{{> footer-scripts}}
</body>
</html>
