.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gridGap / 2;
	margin-left: -$gridGap / 2;
}

.col,
.col-auto {
	@include makeColumnReady;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumnReady;
	}
}

.col {
	@include makeColumnBasic;
}

.col-auto {
	@include makeColumnAuto;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumn($i);
	}
}

@include mediaUp(sm) {
	.col-sm {
		@include makeColumnBasic;
	}
	.col-sm-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-sm-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(md) {
	.col-md {
		@include makeColumnBasic;
	}
	.col-md-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-md-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(lg) {
	.col-lg {
		@include makeColumnBasic;
	}
	.col-lg-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-lg-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(xl) {
	.col-xl {
		@include makeColumnBasic;
	}
	.col-xl-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.col-xl-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

.row.no-gap {
	margin-left: 0;
	margin-right: 0;
	min-width: 100%;

	> * {
		padding-right: 0;
		padding-left: 0;
	}
}

.row.gap-xxs {
	/* min-width: calc(100% + #{$gridGap--xxs}); */
	margin-left: - $gridGap--xxs / 2;
	margin-right: - $gridGap--xxs / 2;

	>* {
		padding-right: $gridGap--xxs / 2;
		padding-left: $gridGap--xxs / 2;
	}
}

.row.gap-xs {
	/* min-width: calc(100% + #{$gridGap--xs}); */
	margin-left: - $gridGap--xs / 2;
	margin-right: - $gridGap--xs / 2;

	>* {
		padding-right: $gridGap--xs / 2;
		padding-left: $gridGap--xs / 2;
	}
}

.row.gap-sm {
	/* min-width: calc(100% + #{$gridGap--xs}); */
	margin-left: - $gridGap--sm / 2;
	margin-right: - $gridGap--sm / 2;

	>* {
		padding-right: $gridGap--sm / 2;
		padding-left: $gridGap--sm / 2;
	}
}

.grid > .row {
	margin-top: -$gridGap / 2;
	margin-bottom: -$gridGap / 2;
}

.grid > .row > * {
	padding-top: $gridGap / 2;
	padding-bottom: $gridGap / 2;
}

.grid > .row.gap-sm {
	margin-top: -$gridGap--sm / 2;
	margin-bottom: -$gridGap--sm / 2;
}

.grid > .row.gap-sm > * {
	padding-top: $gridGap--sm / 2;
	padding-bottom: $gridGap--sm / 2;
}

.grid > .row.gap-xs {
	margin-top: -$gridGap--xs / 2;
	margin-bottom: -$gridGap--xs / 2;
}

.grid > .row.gap-xs > * {
	padding-top: $gridGap--xs / 2;
	padding-bottom: $gridGap--xs / 2;
}

.grid > .row.gap-xxs {
	margin-top: -$gridGap--xxs / 2;
	margin-bottom: -$gridGap--xxs / 2;
}

.grid > .row.gap-xxs > * {
	padding-top: $gridGap--xxs / 2;
	padding-bottom: $gridGap--xxs / 2;
}

// Custom
@include mediaUp(lg) {
	.col--main {
		max-width: calc(100% - 330px);
	}

	.row.gap-sm > .col--main {
		max-width: calc(100% - 320px);
	}
}

@include mediaUp(xl) {
	.col--main {
		// max-width: 860px;
		max-width: 810px;
	}
}

.col--right {
	flex: 0 0 auto !important;
    width: auto !important;
	max-width: calc(300px + 30px);
}

.row.gap-sm > .col--main {
	max-width: calc(300px + 20px);
}