@use "variables" as *;

* {
	-webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

svg {
	display: inline-block;
	fill: currentColor;
	transition: fill var(--duration-theme);
}

body {
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: default;
}

input,
textarea,
button {
	font-family: inherit;
}

textarea {
	tab-size: 2;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 4px solid rgba(50,151,211,.3);
}

img {
	user-select: none;
}
