<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/min/common.css">
</head>
<body style="--scrollY: 0px;">
	{{> partials/header}}
	<main class="Main">
		<div class="container">

			{{> components/dropdown}}

		</div>
	</main>
	{{> partials/footer}}

	<script src="/scripts/min/common.js"></script>
</body>
</html>