<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{{> partials/header}}
	<main class="Main">
		<div class="container">



		</div>
	</main>
	{{> partials/footer}}
</body>
</html>