mixin notification()
	- let id = attributes.id

	<article class="Notification" id="#{id}">
		<button class="Button -nude Notification__closer">
			+icon("cross")
		</button>
		<div class="Notification__body">
			block
		</div>
	</article>
