mixin notifications
	<div class="NotificationsOrigin">

		<article class="Notification">
			<button class="Btn -nude do-close">
				+icon("close")
			</button>
			<h4>Notification</h4>
			block
		</article>

	</div>
