mixin tabs
	<div class="Tabs">
		<ul class="Tabs__nav">
			<li class="Tabs__navItem is-open">Tab 1</li>
			<li class="Tabs__navItem">Tab 2</li>
		</ul>
		<div class="Tabs__item is-open">
			<div class="Tabs__itemHeader">
				<div>Tab 1</div>
				+icon("chevron").Tabs__itemArrow
			</div>
			<div class="Tabs__itemContent">


			</div>
		</div>
		<div class="Tabs__item">
			<div class="Tabs__itemHeader">
				<div>Tab 2</div>
				+icon("chevron").Tabs__itemArrow
			</div>
			<div class="Tabs__itemContent">


			</div>
		</div>
	</div>
