<h2>Button</h2>

<div class="flex gap-6  flex-col items-stretch">
	<div class="grid grid-cols-2 items-start gap-6">
		<div class="">
			:markdown
				```html
				<button class="Button">Button</button>
				```
		</div>
		<div class="">
			<button class="Button">Button</button>
		</div>
	</div>

	<div class="grid grid-cols-2 items-start gap-6">
		<div class="">
			:markdown
				```html
				<button class="Button -primary">Button</button>
				```
		</div>
		<div class="">
			<button class="Button -primary">Button</button>
		</div>
	</div>

	<div class="grid grid-cols-2 items-start gap-6">
		<div class="">
			:markdown
				```html
				<button class="Button -lg -primary">Button</button>
				```
		</div>
		<div class="">
			<button class="Button -lg -primary">Button</button>
		</div>
	</div>

	<div class="grid grid-cols-2 items-start gap-6">
		<div class="">
			:markdown
				```html
				<button class="Button -sm -primary">Button</button>
				```
		</div>
		<div class="">
			<button class="Button -sm -primary">Button</button>
		</div>
	</div>
</div>
