<details class="collapsible is-open" data-group="collapsiblesGroup">
	<summary class="collapsible__header">
		<h4>...</h4>
		<div class="collapsible__header-icon"></div>
	</summary>
	<div class="collapsible__body">
		<div class="collapsible__content rich-text font-semibold">
			| ...
		</div>
	</div>
</details>
