<h2>Colors</h2>

<div class="flex gap-4">
	<div class="flex-1">
		<h6>Brand</h6>
		<div class="w-full h-14" style="background-color: var(--brand)"></div>
	</div>

	<div class="flex-1">
		<h6>Accent</h6>
		<div class="w-full h-14" style="background-color: var(--accent)"></div>
	</div>

	<div class="flex-1">
		<h6>Danger</h6>
		<div class="w-full h-14" style="background-color: var(--danger)"></div>
	</div>

	<div class="flex-1">
		<h6>Success</h6>
		<div class="w-full h-14" style="background-color: var(--success)"></div>
	</div>

	<div class="flex-1">
		<h6>bg</h6>
		<div class="w-full h-14" style="background-color: var(--bg); border: 1px solid var(--light);"></div>
	</div>

	<div class="flex-1">
		<h6>lightest</h6>
		<div class="w-full h-14" style="background-color: var(--lightest)"></div>
	</div>

	<div class="flex-1">
		<h6>Lighter</h6>
		<div class="w-full h-14" style="background-color: var(--lighter)"></div>
	</div>

	<div class="flex-1">
		<h6>Light</h6>
		<div class="w-full h-14" style="background-color: var(--light)"></div>
	</div>

	<div class="flex-1">
		<h6>Muted</h6>
		<div class="w-full h-14" style="background-color: var(--muted)"></div>
	</div>

	<div class="flex-1">
		<h6>Minor</h6>
		<div class="w-full h-14" style="background-color: var(--minor)"></div>
	</div>

	<div class="flex-1">
		<h6>Major</h6>
		<div class="w-full h-14" style="background-color: var(--major)"></div>
	</div>

	<div class="flex-1">
		<h6>Intense</h6>
		<div class="w-full h-14" style="background-color: var(--intense)"></div>
	</div>
</div>

<h6>Brand</h6>
<p><a href="">Lorem ipsum dolor sit amet</a></p>

<h6>Muted</h6>
<p style="color: var(--muted)">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h6>Minor</h6>
<p style="color: var(--minor)">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h6>Major</h6>
<p style="color: var(--major)">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

<h6>Intense</h6>
<p style="color: var(--intense)">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
