<h2>Icon</h2>

<div class="grid grid-cols-2 items-start gap-6">
	<div class="">
		:markdown
			```html
			<svg class="Icon -search">
				<use href="#icon-search"></use>
			</svg>
			```
	</div>
	<div class="">
		+icon("search")
	</div>
</div>
