<h3>Notifications</h3>

<div class="flex gap-6  flex-col items-stretch">
	<div class="grid grid-cols-2 items-start gap-6">
		<div class="">
			:markdown
				```html
				<div class="NotificationsOrigin">

					<article class="Notification" id="notification1">
						<button class="Btn -nude do-close">
							<svg class="Icon -close">
								<use href="#icon-close"></use>
							</svg>
						</button>
						<h4>Notification</h4>
						<p>notification</p>
					</article>

				</div>
				```
		</div>
		<div class="">
			<button class="Button do-notify" data-target="#notification1">Call a notification</button>
		</div>
	</div>
</div>
