// Custom properties
// ---------------------
:root {
	// Text
		--fontMain:             #{$fontMain};
		--fontSize:             1rem;
		--lineHeight:           1.57;

	// Color
		--brand:                #{$blue};
		--success:              #{$green};
		--accent:               #{$yellow};
		--danger:               #{$red};
		--intense:              #{$black};
		--major:                #{$gray-700};
		--minor:                #{$gray-500};
		--muted:                #{$gray-400};
		--light:                #{$gray-300};
		--lighter:              #{$gray-200};
		--lightest:             #{$gray-100};
		--disabled:             #{$gray-300};
		--inverse:              #{$white};
		--bg:                   #{$white};
		--bgAlter:              #{$gray-400};
		--border:               #{$gray-300};

	// Dimensions
	--containerMax:         #{$containerMax};
	--sidePadding:          clamp(1.25rem, 4vw, 4rem);
	--headerHeight:         clamp(3rem, 7vw, 3.75rem);

	// Shape
		--radius-xs:            2px;
		--radius-sm:            4px;
		--radius-md:            6px;

	// Animation
		--duration-sm:          .12s;
		--duration-md:          .2s;
		--duration-lg:          .3s;
		--duration-xl:          .6s;
		--duration-xxl:         1s;
}

[data-theme="dark"] {
		--brand:                #{$blue};
		--success:              #{$green};
		--accent:               #{$yellow};
		--danger:               #{$red};
		--intense:              #{$white};
		--major:                #{$gray-200};
		--minor:                #{$gray-400};
		--muted:                #{$gray-500};
		--light:                #{$gray-600};
		--lighter:              #{$gray-700};
		--lightest:             #{$gray-800};
		--disabled:             #{$gray-400};
		--inverse:              #{$gray-700};
		--bg:                   #{$gray-800};
		--bgAlter:              #{$gray-400};
		--border:               #{$gray-300};
}
