// Custom properties
// ---------------------
:root {
	// Text
		--fontMain:             #{$fontMain};
		--fontSize:             1rem;
		--lineHeight:           1.57;

	// Color
		--brand:                #{$brand};
		--voice:                #{$voice};
		--success:              #{$success};
		--danger:               #{$danger};
		--intense:              #{$intense};
		--major:                #{$major};
		--minor:                #{$minor};
		--muted:                #{$muted};
		--mutedLight:           #{$mutedLight};
		--mutedLightest:        #{$mutedLightest};
		--disabled:             #{$disabled};
		--inverse:              #{$inverse};
		--bg:                   #{$white};
		--bgAlter:              #{$muted};
		--border:               #{$mutedLight};

	// Dimensions
	--containerMax:         #{$containerMax};
	--sidePadding:          clamp(1.25rem, 4vw, 4rem);
	--headerHeight:         clamp(3rem, 7vw, 3.75rem);

	// Shape
		--radius-xs:            2px;
		--radius-sm:            4px;
		--radius-md:            6px;

	// Animation
		--duration-sm:          .12s;
		--duration-md:          .2s;
		--duration-lg:          .3s;
		--duration-xl:          .6s;
		--duration-xxl:         1s;
}

// [data-theme="dark"] {
		// $grayDarkest: 			lighten($grayDarkest, 10);
		// $brand:                 ;
		// $voice:                 $blueLight;
		// $voiceLightest:         $blueLightest;
		// $success:                 ;
		// $successLight:                 ;
		// $danger:                #eb3a3f;
		// $intense:               $white;
		// $intense:               $whiteDark;
		// $major:                 $white;
		// $major:                 $whiteDark;
		// $minor:                 $grayLightest;
		// $muted:                 $gray;
		// $mutedLight:            $gray;
		// $mutedLightest:         rgba(255,255,255,.1);
		// $mutedLightest:         #393c44;
		// $disabled:              $grayLight;
		// $inverse:               $grayDarkest;
		// $bg:                    $grayDarkest;
		// $bg:                    #1b1e27; //$grayDarkest;
		// $bg:                    #22252e; //$grayDarkest;
		// $bgAlter:               $grayDark;
		// $border:                $grayDark;

	// Color
		// --brand:                #{$brand};
		// --voice:                #{$voice};
		// --voiceLightest:        #{$voiceLightest};
		// --success:              #{$success};
		// --successLight:         #{$successLight};
		// --danger:               #{$danger};
		// --intense:              #{$intense};
		// --major:                #{$major};
		// --minor:                #{$minor};
		// --muted:                #{$muted};
		// --mutedLight:           #{$mutedLight};
		// --mutedLightest:        #{$mutedLightest};
		// --disabled:             #{$disabled};
		// --inverse:              #{$inverse};
		// --bg:                   #{$bg};
		// --bgAlter:              #{$bgAlter};
		// --border:               #{$border};
// }
