*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: default;
}

body {
	margin: 0;
}

img,
svg {
	max-width: 100%;
	display: block;
}

picture {
	width: fit-content;
	display: block;
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

button {
	touch-action: manipulation;
}

:focus {
	outline: none;
}

:focus-visible {
	border-radius: var(--radius-xs);
	outline: 4px solid rgba(50,151,211,.3);
}
