@use "variables" as *;
@use "mixins" as *;

html {
	-webkit-text-size-adjust: none;
}

body {
	color: var(--intense);
	font-family: var(--font-main);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	font-weight: 400;

	:root[data-theme="dark"] & {
		color: var(--major);
	}
}

::-moz-selection {
	color: var(--inverse);
	background-color: var(--brand);
	text-decoration-color: transparent;
}
::selection {
	color: var(--inverse);
	background-color: var(--brand);
	text-decoration-color: transparent;
}

a {
	color: var(--voice);
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: from-font;
	// text-decoration-color: var(--voice);
	// text-decoration-skip: ink;
	// text-decoration-thickness: 0.06em;
	// text-underline-offset: 0.15em;
	transition:
		color var(--duration-sm),
		border-color var(--duration-sm),
		text-decoration-color var(--duration-sm),
		background-color var(--duration-sm),
		opacity var(--duration-sm),
		box-shadow var(--duration-sm);
}

@media (hover:hover) {
	a:hover {
		text-decoration-color: transparent;
	}
}

p {
	max-width: 80ch;
	@include marginFirstLast;
	margin-top: .8125em;
	margin-bottom: .8125em;
}

.stroke {
	-webkit-text-stroke-color: var(--voice);
	-webkit-text-stroke-width: 3px;
	paint-order: stroke;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 1.5em;
	margin-bottom: .75em;
	@include marginFirstLast;
	color: var(--major);
	line-height: var(--leading-lg);
	font-family: var(--font-heading);
	text-wrap: balance;
	text-box-trim: trim-start;

	:where(:root[data-theme="dark"]) & {
		color: var(--intense);
	}
}

h1, .h1 {
	font-size: clamp(1.75rem, 3.9vw, 2.8rem);
	// font-size: clamp(1.75rem, 3.9vw + 1rem, 2.8rem); // todo
	line-height: var(--leading-sm);
	font-weight: 900;

	&.h1-sm {
		font-size: clamp(1.75rem, 3.25vw, 2rem);
	}

	&.h1-xs {
		font-size: clamp(1.5rem, 3vw, 1.75rem);
	}
}

h2, .h2 {
	line-height: var(--leading-md);
	font-size: clamp(1.5rem, 3vw, 1.875rem);
	font-weight: 900;
}

h3, .h3 {
	font-size: clamp(1.375rem, 2vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}

h5, .h5 {
	font-size: .9375rem;
	text-transform: uppercase;
}

h6, .h6 {
	font-size: .875rem;
}

ul {
	@include marginFirstLast;
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding-left: 0;
	list-style-type: none;
}

ul > li {
	max-width: 778px;
	position: relative;
	margin-top: .4rem;
	margin-left: 0;
	padding-left: 1.1em;
}

ul > li:before {
	@include pseudoBlock(.36em);
	top: 1ch;
	left: 2px;
	background-color: var(--major);
	border-radius: 8px;
	transition: background-color var(--duration-theme);
}

ul > li:first-child {
	margin-top: 0;
}

ul > li > ul:first-child {
	margin-top: 5px;
}

ul ul {
	margin-top: 5px;
}

blockquote {
	border-left: 6px solid var(--brand);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 0;
	color: var(--intense);
	font-weight: 500;

	@media ($md <= width) {
		max-width: 750px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 30px;
	}
}

sup {
	font-size: .6em;
	vertical-align: 0;
    position: relative;
    top: -0.5em;
}

h1, h2, h3, h4, h5, h6, ul, p, em {
	transition: color var(--duration-theme);
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 0;
	border-width: 1px 0 0;
	border-top: 1px solid var(--border);
	transition: border-color var(--duration-sm);
}

.text-trim {
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}

.text-gradient {
	width: fit-content;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(90deg, white, hsla(0, 100%, 100%, .8));
	// background-image: linear-gradient(90deg, white, hsl(54, 93%, 70%));
}
