html {
	font-size: $rem;
}

body {
	color: var(--major);
	font-family: var(--fontMain);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

a {
	color: var(--primary);
	text-decoration: underline;
	text-underline-position: under;
	// text-decoration-color: rgba(91,65,245,.3);
	// text-decoration-skip: ink;
	// text-decoration-thickness: 0.06em;
	// text-underline-offset: 0.15em;
	transition:
		color var(--duration-sm),
		border-color var(--duration-sm),
		background-color var(--duration-sm),
		opacity var(--duration-sm),
		box-shadow var(--duration-sm);
}

a:is(:hover) {
	text-decoration: none;
}

p {
	max-width: 72ch;
	@include flowMargin;
	margin-top: 1rem;
	margin-bottom: 1rem;

	@include mediaUp(md) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	@include flowMargin;
	color: var(--major);
	line-height: 1.2;
	font-weight: 700;

	@include mediaUp(md) {
		margin-top: 2rem;
		margin-bottom: 1.25rem;
	}
}

h1, .h1 {
	font-size: 2.5rem;

	@include mediaUp(md) {
		font-size: 2.5rem;
	}
}

h2, .h2 {
	font-size: 2.25rem;

	@include mediaUp(md) {
		font-size: 2.125rem;
	}
}

h3, .h3 {
	font-size: 1.75rem;

	@include mediaUp(md) {
		margin-top: 1.5rem;
		margin-bottom: 1.25rem;
		font-size: 1.75rem;
	}
}

h4, .h4 {
	color: var(--minor);
	font-size: 1.25rem;
}

h5, .h5 {
	text-transform: uppercase;
	font-size: 1rem;
}

h6, .h6 {
	margin-top: 1.5rem;
	margin-bottom: .25rem;
	text-transform: uppercase;
	color: var(--minor);
	font-size: .75rem;
	letter-spacing: .15em;

	+ * {
		margin-top: .25rem !important;
	}
}

hr {
	@include flowMargin;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border: 0;
	border-top: 1px solid var(--border);
}

ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0;
	@include flowMargin;
	list-style-type: none;
}

ul > li {
	max-width: 778px;
	position: relative;
	margin-top: .5rem;
	margin-left: 0;
	padding-left: 1rem;

	@include mediaUp(md) {
		padding-left: 1.175rem;
	}
}

ul > li:before {
	@include pseudoBlock(6px, 6px);
	top: .55rem;
	left: 2px;
	background-color: var(--major);
	border-radius: 8px;
}

ul > li:first-child {
	margin-top: 0;
}

ul > li > ul:first-child {
	margin-top: 5px;
}

ul ul {
	margin-top: 5px;
}

blockquote {
	border-left: 6px solid var(--brand);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 0;
	color: var(--intense);
	font-weight: 500;

	@include mediaUp(md) {
		max-width: 750px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 30px;
	}
}

sup {
	font-size: .6em;
	vertical-align: 0;
	position: relative;
	top: -0.5em;
}

body :not(pre) > code[class*=language-],
body pre[class*=language-] {
	@include flowMargin;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	background-color: var(--lightest);
	border-radius: var(--radius-md);
}
