// Text
// ---------------------
$fontSans:                  'Rubik', sans-serif;
	// $fontSerif:                 'Times New Roman', Georgia, serif;
	// $fontMono:                  'Ubuntu Mono', monospace;
	// $fontExtra:                 $fontNarrow;
$fontMain:                  $fontSans;
$rem:                       16px;
$fontSize:                  1rem;
$lineHeight:                1.57;


// Colors
// ---------------------
// absolute colors
	// $white:                     #fff;
	// $black:                     #090914;
	// $blue:                      #4974c2;
	// $red:                       #db4815;
	// $green:                     #55b43c;
	// $greenLight:                #d1ebcb;
	// $grayDarkest:               #343b4c;
	// $grayDark:                  #555559;
	// $gray:                      #6c6c6c;
	// $grayLight:                 #d7d7d7;
	// $grayLightest:              #f5f5f5;

// theme colors
	// $brand:                     $blue;
	// $voice:                     $blue;
	// $success:                   $green;
	// $danger:                    $red;
	// $accent:                    $gold;
	// $intense:                   $black;
	// $major:                     $grayDarkest;
	// $minor:                     $gray;
	// $muted:                     #92929a;
	// $mutedLight:                $grayLight;
	// $mutedLightest:             $grayLightest;
	// $disabled:                  $grayLight;
	// $inverse:                   $white;
	// $bg:                        $white;
	// $bgAlter:                   #ebebef;
	// $border:                    #c4c4cd;


// Breakpoints
// ---------------------
$xs:    0;
$sm:    576px;
$md:    768px;
$lg:    992px;
$xl:    1200px;
$xxl:   1600px;

$breakpoints: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
	xxl: $xxl,
);


// Container
// ---------------------
$containerMax:              1600px;


// Grid
// ---------------------
	// $gridColumns:               24;
	// $gap:                       30px;
	// $gap-xxs:                   8px;
	// $gap-xs:                    12px;
	// $gap-sm:                    20px;
	// $gap-md:                    $gap;
	// $gap-lg:                    48px;
	// $gap-xl:                    60px;


// Layers
// ---------------------
	// $z-notification:            500;


// Libraries
// ---------------------

// basicLightbox
	// $basicLightbox__background: rgba(0, 0, 0, .8);
	// $basicLightbox__zIndex:     1000;
	// $basicLightbox__duration:   $duration-lg;
	// $basicLightbox__timing:     linear;
