// Text
// ---------------------
	$fontSans:                  'Ubuntu', sans-serif;
	$fontSerif:                 'Times New Roman', Georgia, serif;
	$fontNarrow:                'Helvetica Narrow', 'Arial Narrow', sans-serif;
	$fontMono:                  'Ubuntu Mono', monospace;
	$fontExtra:                 $fontNarrow;
	$fontMain:                  $fontSans;
	$rem:                       100%;


// Colors
// ---------------------
// absolute colors
	$black:                     #050c1e;
	$gray-800:                  #1e293b;
	$gray-700:                  #334155;
	$gray-600:                  #475569;
	$gray-500:                  #64748b;
	$gray-400:                  #94a3b8;
	$gray-300:                  #cbd5e1;
	$gray-200:                  #e2e8f0;
	$gray-100:                  #f1f5f9;
	$white:                     #ffffff;
	$blue:                      #6864d4;
	$red:                       #ef4444;
	$yellow:                    #facc15;
	$green:                     #22c55e;


// Breakpoints
// ---------------------
	$xs:    0;
	$sm:    576px;
	$md:    768px;
	$lg:    992px;
	$xl:    1200px;
	$xxl:   1600px;

	$breakpoints: (
		xs: $xs,
		sm: $sm,
		md: $md,
		lg: $lg,
		xl: $xl,
		xxl: $xxl,
	);


// Container
// ---------------------
	$containerMax:              1600px;


// Grid
// ---------------------
	$gridColumns:               24;
	$gap:                       30px;
	$gap-xxs:                   8px;
	$gap-xs:                    12px;
	$gap-sm:                    20px;
	$gap-md:                    $gap;
	$gap-lg:                    48px;
	$gap-xl:                    60px;


// Layers
// ---------------------
	$z-content: 50;
	$z-header: 100;
	$z-popup: 500;
	$z-notification: 1000;
